* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sawarabi Gothic";
}

html {
    font-size: 100%;
    scroll-behavior: smooth;
    /* 16px */
}

.responsive {
    width: 80%;
    aspect-ratio: 16/9;
    display: block;
    margin: 0 auto;
}

@media (max-width: 1000px) {
    .responsive {
        width: 100%;
    }
}

/* body {
    color: #24292e;
    background-color: #f0f0f0;
} */

a {
    text-decoration: none;
}

h5 {
    font-size: 1.3rem;
}

p {
    font-size: 1.15rem;
    text-align: left;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
    font-size: 1.2rem;
}


body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #edf2f6;
    text-align: center;
}


.airticle {
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
    /* 中央配置 */
    background-color: #ffffff;
    padding: 20px 35px;
    margin: 15px auto;
    border-radius: 20px;
    overflow: hidden;
}

.airticle_text {
    width: 80%;
    margin: 0 auto;
}

@media (max-width: 800px) {
    .airticle_text {
        width: 100%;
        margin: 0 auto;
    }
}

.title {
    font-size: 2rem;
    text-align: center;
    margin-top: 10px;
}

.title_img {
    width: 700px;
    display: block;
    margin: 0 auto;
    padding: 3%;
}

.underline_title {
    font-size: 1.5em;
    /* フォントサイズ */
    font-weight: bold;
    /* フォント太さ */
    padding-top: .5em;
    padding-bottom: .5em;
    margin-top: 2em;
    margin-bottom: 1em;
    position: relative;
    border-bottom: solid 3px #e3e3e2;
    /* 線 */
    text-align: left;
}

.underline_title:after {
    position: absolute;
    content: " ";
    display: block;
    border-bottom: solid 3px #5598de;
    width: 30%;
    bottom: -3px;
}

.leftline_title {
    font-size: 1.5em;
    /* フォントサイズ */
    font-weight: bold;
    /* フォント太さ */
    padding-left: .5em;
    padding-top: .3em;
    padding-bottom: .3em;
    margin-top: 2em;
    margin-bottom: 1em;
    border-left: 5px solid #5598de;
    /* 線 */
    text-align: left;
}

/* スクロール用ボタン */
a.scroll_button {
    position: fixed;
    bottom: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    background-color: rgba(169, 169, 169, 0.7);
    /* 灰色の少し透明な背景 */
    border-radius: 50%;
    text-decoration: none;
    color: #fff;
    /* テキストの色 */
    font-size: 30px;
    transform: rotate(90deg);
    /* テキストを右に90度回転 */
}

a.scroll_button:hover {
    background-color: rgba(169, 169, 169, 1);
    /* ホバー時の背景色 */
}

/* footer */
html {
    font-family: sans-serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    color: #999;
    text-decoration: none;
}

a:hover {
    color: #000;
}

.flex {
    display: flex;
}

hr {
    height: 1px;
    border: 0;
    border-top: 1px solid #d3d5d7;
}

.footer {
    width: 100%;
    padding: 2rem;
    font-size: 15px;
    color: #999;
    background: #fff;
}

.footer__navi {
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.footer__navi li {
    display: inline-block;
    font-size: 20px;
    ;
}

.footer__navi li:not(:last-child) {
    margin-right: 16px;
}

.footer__logo {
    display: inline-block;
    margin-bottom: 1rem;
}

.footer p {
    padding: 5px 0;
    ;
    font-size: 17px;
    margin-left: 20px;
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .md-flex {
        display: flex;
    }

    .md-justify-between {
        justify-content: space-between;
    }

    .copyright {
        text-align: left;
    }
}

.sns {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sns .twitter .fa-brands {
    font-size: 30px;
    padding: 0 15px;
}

.sns .github .fa-brands {
    font-size: 30px;
    padding: 0 15px;
}

.zenn-icon {
    opacity: 0.4;
    width: 58px;
    height: 26px;
}

.zenn-icon:hover {
    opacity: 1.0;
}


span {
    background: linear-gradient(transparent 60%, #ff6 60%);
    font-weight: bold;
}

.ch {
    width: 60%;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.ch_irasto {
    width: 60%;
    border-radius: 5px;
}

@media (max-width: 1000px) {
    .ch {
        width: 90%;
    }
    .ch_irasto {
        width: 90%;
    }
}

.img_title {
    text-align: center;
}

.img_link {
    color: #5598de;
    border-bottom: dotted 3px #5598de;
}

.mp4 {
    width: 50%;
}